<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="DataDesign">

<listeners>
<listener class-name="ListnerPackage.ListnerClass"></listener>
</listeners>

<test name="StudentTracker">
<classes>
<class name="TestCase.SetupUserTest"></class>
</classes>
</test>

<test name="FirstTest" enabled="false">
<parameter name="username" value="QA"/>  
<parameter name="email" value="QA@mailinator.com"/>  
<classes>
<class name="dd.live.pages.SetupUsersByExcelPage">
</class>


</classes>
</test>

</suite>








  

